.popup__tail
	position: absolute
	background: #ffffff

	&:after, &:before
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none

	&:before
		border-width: 8px

	&:after
		border-width: 8px