.article
	text-align: justify
	trailer: 1

	h1, h2, h3, p, ul, ol, img
		margin: 0
		padding: 0

	h1
		adjust-font-size: 28px
		trailer: 1

	h2
		adjust-font-size: 24px
		trailer: 1

	h3
		adjust-font-size: 18px
		trailer: .5

	p
		adjust-font-size: 13px
		trailer: 1

	ul, ol
		margin-left: 25px
		trailer: 1

		li, dd, dt
			adjust-font-size: 13px
			font-family: $FONT

	img
		border: 0
		font-size: 100%
		font: inherit
		vertical-align: baseline
		font-weight: normal
		clear: both
		leader: 1