.pagination_theme_default
	.pagination__item
		margin-left: 5px

	.pagination__pages
		margin-left: 10px

	.pagination__item_type_prev
		margin-right: 10px

	.pagination__item_type_next
		margin-left: 15px